<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="resources/css/estimator.css">
  </head>
  <body>
    <div id='estimator'>
      <form id='rates-form'>
        <fieldset>
          <legend>Vehicle Information</legend>
          <div>
            <label for='vehicle-types'> Select your desired vehicle type: </label>
            <p>
              <select class='form-field select-style' required id='vehicle-rates' v-model='vehicleRate'>
                <option value='' disabled='true'>Select Vehicle Type</option>
                <option value='30' selected>Car</option>
                <option value='32'>Van</option>
                <option value='40'>Truck</option>
              </select>
            <p>
          </div>
          <div>
            <label for='miles-traveled'> Enter expected travel distance: </label>
            <p>
              <span>
                <input class='form-field' id='miles-traveled' type='number' required min='0' step='.1' v-model='milesTraveled'>
                <span> miles </span>
              </span>
            <p>
          </div>
        </fieldset>
        <fieldset>
          <legend> Trip Information</legend>
          <div>
            <label for='pickup-date'> Pick-up: </label>
            <input type="date" id="pickup-date" v-model='pickupDate' required>
            <select name="pickup-hour" id="pickup-hour" v-model='pickupHour' required>
              <option selected disabled value=''> Select Hour </option>
              <option v-for='hr in hours' v-bind:value='hr'>{{hr}}</option>
            </select>
            <select name='pickup-min' id='pickup-min' v-model='pickupMin'>
              <option value='' disabled='true' selected> Select Min </option>
              <option v-for='min in mins' v-bind:value='min'>{{min}}</option>
            </select>
            <select name='pickup-meridian' id='pickup-meridian' v-model='pickupMeridian'>
              <option value='' disabled='true' selected> Select AM/PM </option>
              <option v-for='(val, key) in meridians' v-bind:value='val'>{{key}}</option>
            </select>
            <label for='trip-hours'>Num Hours: <label>
            <input type='number' id='trip-hours' min='0' step='1' v-model='tripHours'>
            <label for='trip-mins'>Num Mins: </label>
            <select id='trip-mins' v-model='tripMins'> 
              <option v-for='min in mins' v-bind:value='min'>{{min}}</option>
            </select>
          </div>
        </fieldset>
        <div>
          <h1> Estimated Trip Cost: ${{cost}} </h1>
      </div>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="resources/javascript/vue_estimator.js"></script>
  </body>
</html>